<div id="mc_embed_signup">
<form action="https://bloomca.us17.list-manage.com/subscribe/post?u=09b03017c5886e585ac282726&amp;id=9684c396a1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to get my new articles!</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_09b03017c5886e585ac282726_9684c396a1" tabindex="-1" value=""></div>
    <div class="" style="margin-top:15px;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="padding-left:50px;padding-right:50px;"></div>
    </div>
</form>
</div>

<div class="footer-links">
  <a href="https://github.com/Bloomca">Github</a>
  <a href="https://twitter.com/blooomca">Twitter</a>
  <a href="mailto:seva.zaikov@gmail.com">seva.zaikov@gmail.com</a>
  <a href="/atom.xml">RSS</a>
</div>

<div class="disclaimer">
  <p>
    © {{ site.data.theme.name }}, <script>document.write(new Date().getFullYear())</script>
    (<a href="https://github.com/Bloomca/blog" target="_blank">source</a>)
  </p>
</div>
