<div class="navigation">
  {% if page.url == '/' %}
    <a href="/" class="active">
  {% else %}
    <a href="/">
  {% endif %}
    projects
  </a>
  {% if page.layout == 'post' or page.url == '/posts' or page.url == '/posts.html' %}
    <a href="/posts" class="active">
  {% else %}
    <a href="/posts">
  {% endif %}
    articles
  </a>
  {% if page.url == '/electron' or page.url == '/electron.html' %}
    <a href="/electron" class="active">
  {% else %}
    <a href="/electron">
  {% endif %}
    Electron
  </a>
  <!-- {% if page.url == '/moocs' or page.url == '/moocs.html' %}
  <a href="/moocs" class="active">
  {% else %}
    <a href="/moocs">
  {% endif %}
    moocs
  </a> -->
  {% if page.url == '/about' or page.url == '/about.html' %}
    <a href="/about" class="active">
  {% else %}
    <a href="/about">
  {% endif %}
    about
  </a>
</div>